body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

#topHeader{
    height: 40px;
    background-color: #C69453;
}

#topInfo{
    line-height: 40px;
    float: left;
    color: #fff;
}

.fa-clock{
    margin:0 30px;   
}

.topI{
    margin-left: 20px;
}

#social{
    float: right;
    line-height: 40px;
    color: #fff;
}

.fa-twitter-square{
    margin: 0 20px;
}

header{
    height: 120px;
    clear: both;
}

#logo{
    width: 175px;
    float: left;
}

#logo img{
    margin-top: 37px;
}

.closebtn{
    display: none;
}

#burger{
    display: none;
}

#mySidenav{
    display: none;
}

#nav{
    float: right; 
}

#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul li{
    width: 120px;
    text-align: center;
    float: left;
}

#nav ul li a{
    display: block;
    height: 90px;
    line-height: 90px;
    padding: 15px 16px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    position: relative;
}

#nav ul li:nth-child(2n){
    margin: 0 15px;
}

#nav ul li a::after{
    content: '';
    position: absolute;
    width: 0; 
    height: 3px;
    display: block;
    margin-top: 12px;
    right: 0;
    background: #C69453;
    transition: .2s ease;
}

#nav ul li a:hover::after{
    width: 100%;
    left: 0;
    background: #C69453;
}

/*#nav ul li a:hover{
    border-bottom: 5px solid #C69453;
    transition: 0.5s all ease;
}*/

#hero{
    height: 500px;
    background-image: url(img/p1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section{
    clear: both;
    height: 600px;
    padding-top: 20px
}

#info{
    margin-right: 100px;
    width: 550px;
    float: left;
    margin-bottom: 50px
}

#info img{
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}

#infoList{
    margin-top: 50px
}

.fa-arrow-alt-circle-right{
    margin: 0 10px 0 165px;
    color: #C69453;
}

#info li{
    list-style: none;
}

#info li::before{
    content: "";
    margin-right: 8px;
}

.contact-form{
    float: left;
    width:500px ;
    height: 500px;
    background-image: url(img/woodb.jpg);
    margin-top: 40px;
}

form{
    margin-top: 80px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    margin-left: 50px;
}

input{
    height: 45px;
}

::placeholder{
    color: #fff;
    opacity: 0.6;
}

form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 50px;
}

form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}

#service{
    background-image: url(img/angie-muldowney-79761-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    clear: both;
    padding-top: 20px;
}

#serviceText{
    color: #fff;
    position: relative;
    font-weight: bold;
}

#serviceText::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255,0.6);
}

#serviceText::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 70px;
    background-color: #C69453;
}

.panel{
    float: left;
    width: 240px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
}
.panel2{
    float: left;
    width: 240px;
    height: 350px;
    background-color: #fff;
    margin: 0 80px;
    border-radius: 10px;
}
.panel4{
    float: left;
    width: 240px;
    height: 350px;
    background-color: #fff;
    margin-left: 80px;
    border-radius: 10px;
}

.panel p{
    margin: 0 20px;
}

.panel2 p{
    margin: 0 20px;
}

.panel4 p{
    margin: 0 20px;
}

.services{
    width: 85px;
    height: 85px;
    background-color: #C69453;
    margin: 30px auto;
     border-radius: 10px;
}

.services img{
    margin: 10px
}

#ourWork{
    height: 220px;
    background-color: #594431;
}

#workText h1{
    margin-top: 0;
    color: #fff;
}

#workText{
    padding-top: 30px;
    position: relative;
    font-weight: bold;
}

#workText::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255,0.6);
}

#workText::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 70px;
    background-color: #C69453;
}

#workNav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#workNav ul li{
    text-align: center;
    float: left;
}

#workNav ul li button{
    display: block;
    height: 40px;
    padding: 0 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    border: 2px solid #C69453;
    position: relative;
    background-color: #594431;
}

#workNav ul li:nth-child(2n){
    margin: 0 40px;
}

#workNav ul li button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    border-bottom:10px solid #C69453;
    border-right:10px solid #C69453;
    border-left:10px solid transparent;
    border-top: 10px solid transparent;
    transform: rotate(180deg);
}

#workNav ul li button:hover{
   background-color: #C69453;
    transition: 1s all ease;
    cursor: pointer;
}

#galleryContainer{
    width: 100%;
}

#ourWorkGallery{
    width: 1200px;
    margin: 0 auto;
}

.bx-wrapper{
    max-width: 100% !important;
}

#us{
    clear: both;
}

#usPic img{
    float: left;
    width: 700px;
}

#content{
    width: 380px;
    float: left;
    margin-top: 70px;
    border: 2px solid rgba(0,0,0,0.3);
    cursor: pointer;
}

.beefup__head{
    position: relative;
    background-color: ;
    height: 60px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 380px;
    text-align: center;
    line-height: 60px;
}

.beefup__body p{
    margin-left: 20px
}

.fa-angle-double-down{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    color: ;
}

.beefup__head::before{
    content: "";
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    border: none;
}

.beefup__head::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
}

#contentText{
    position: relative;
}

#contentText h1{
    width: 330px;
    float: left;
}

#contentText::after{
    content: '';
    position: absolute;
    bottom: -64px;
    left: 700px;
    right: 0;
    height: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#contentText::before{
    content: '';
    position: absolute;
    left: 700px;
    bottom: -65px;
    height: 4px;
    width: 70px;
    background-color: #C69453;
}

#stat{
    clear: both;
    height: 254px;
    background-image: url(img/statImage.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#stat::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 100%;
/*    background-color: rgba(0,0,0,0.3);*/
}

#news{
    height: 400px; 
}

.num{
    float: left;
    margin-top: 96px;
    margin: 96px 105px;
    color: #fff;
    position: relative;
}

.number{
    font-size: 40px;
    margin-left: 10px;
    position: absolute;
}


#news{
    height: 500px;
    background-color: rgba(198,148,83,0.11);
}

.news{
     position: relative;
}

#newsText{
    width: 1200px;
    position: absolute;
}

#newsText::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid ;
}

#newsText::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 70px;
    background-color: #C69453;
}

#news1{
    width: 300px;
    float: left;
    margin-top: 120px;
}

#news1 p, #news2 p, #news3 p{
    margin-bottom: 40px;
}

#news2{
    width: 300px;
    float: left;
    margin-top: 120px;
    margin: 120px 150px 0 150px;
}

#news3{
    width: 300px;
    float: left;
    margin-top: 120px;
}

.btn a:visited,btn a:hover,{
    color: black;
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.btn{
    background-color: #C69453;
    padding: 10px 15px;
    border-radius: 15px 0;
}

#footerT{
    height: 400px;
    background-image: url(img/footerImage.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#about{
    color: #fff;
    width: 400px;
    padding-top: 109px;
    float: left;
}

#about h1{
    position: relative;
}

#about h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid white;
}

#about h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 70px;
    background-color: #C69453;
}

#office{
    float: right;
    width: 400px;
    color: #fff;
    padding-top: 109px;
}

#office h1{
     position: relative;
}

#office h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid white;
}

#office h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 70px;
    background-color: #C69453;
}

#office .fa-clock{
    margin-right: 30px;
    margin-left: 0;
}
#office i{
    margin-right: 30px;
}

footer{
    clear: both;
    height: 50px;
    background-color:  #C69453;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

#footerInfo p{
    margin: 0;
}

/*    --------RESPONSIVE--------*/



@media screen and (min-width: 993px) and (max-width: 1200px){
    .wrap{
        width: 960px;
    }
    
   
    
    #info{
    width: 350px;
}

#info img{
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}

#infoList{
    margin-top: 50px
}

.fa-arrow-alt-circle-right{
    margin: 0 10px 0 0px;
}

    .respMove{
        margin-left: 26px;
    }


.panel{
    width: 200px;
}
.panel2{
    width: 200px;
    margin: 0 53px;
}
.panel4{
    width: 200px;
    height: 350px;
    margin-left: 53px;
}

#us{
    clear: both;
    height: 500px
}

#usPic img{
    float: left;
    width: 500px;
    margin-top: 167px;
}

#contentText::after{
    content: '';
    position: absolute;
    bottom: -64px;
    left: 500px;
}

#contentText::before{
    content: '';
    position: absolute;
    left: 500px;
}

#news{
    height: 400px; 
}

.num{
    margin: 96px 78px;
}
    
    #news{
    height: 1000px;
    background-color: rgba(198,148,83,0.11);
}
    
    #newsText{
    width: 960px;
    position: absolute;
}

#news1{
    width: 400px;
    float: left;
    margin-top: 120px;
}

#news1 p, #news2 p, #news3 p{
    margin-bottom: 40px;
}

#news2{
    width: 400px;
    float: right;
    margin-top: 120px;
    margin: 120px 0px 0 150px;
}

#news3{
    width: 400px;
    float: left;
    margin-top: 120px;
}

.btn a:visited,btn a:hover,{
    color: black;
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.btn{
    background-color: #C69453;
    padding: 10px 15px;
    border-radius: 15px 0;
}

        
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .wrap{
        width: 720px;
    }
    
    

    #burger{
        display: block;
        float: right;
        margin-top: 40px
    }

    #nav{
        display: none;
    }
    
    #mySidenav{
        display: block;
    }

    .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -50px;
    font-size: 36px;
    margin-left: 50px;
}


    section{
    height: 1200px;
}

#info{
    width: 100%;
    margin-right: 0;
}


#infoList{
    margin-top: 90px;
}

.contact-form{
    float: left;
    width:100% ;
    height: 500px;
    background-image: url(img/woodb.jpg);
    margin-top: 40px;
}

form{
    margin-top: 80px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 85%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
    
    #service{
    background-image: url(img/angie-muldowney-79761-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    clear: both;
    padding-top: 20px;
}

.panel{
    float: left;
    width: 240px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 40px
}
.panel2{
    float: left;
    width: 240px;
    height: 350px;
    background-color: #fff;
    margin: 0 0 30px 160px;
    border-radius: 10px;
}
.panel4{
    float: left;
    width: 240px;
    height: 350px;
    background-color: #fff;
    margin-left: 160px;
    border-radius: 10px;
}


#workNav ul li:nth-child(2n){
    margin: 0 35px;
}


#us{
    clear: both;
    position: relative;
    height: 900px;
}

#usPic img{
    width: 100%;
}

#content{
    width: 100%;
    float: left;
    margin-top: 70px;
    border: 2px solid rgba(0,0,0,0.3);
    cursor: pointer;
}

.beefup__head{
    position: relative;
    background-color: ;
    height: 60px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    text-align: center;
    line-height: 60px;
}


#contentText{
    position: relative;
}

#contentText h1{
    width: 330px;
    position: absolute;
}

#contentText::after{
    content: '';
    position: absolute;
    bottom: -64px;
    left: 0px;
    right: 0;
}

#contentText::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -65px;
}

#stat{
    height: 400px;
}

    
    .num{
    margin: 69px 130px;
}

 #news{
    height: 1000px;
    background-color: rgba(198,148,83,0.11);
}
    
    #newsText{
    width: 720px;
    position: absolute;
}

#news1{
    width: 300px;
    float: left;
    margin-top: 120px;
}

#news1 p, #news2 p, #news3 p{
    margin-bottom: 40px;
}

#news2{
    width: 300px;
    float: right;
    margin-top: 120px;
    margin: 120px 0px 0 0;
}

#news3{
    width: 300px;
    float: left;
    margin-top: 120px;
}


#footerT{
    height: 800px;
}

#about{
    color: #fff;
    width: 100%;
    padding-top: 109px;
    float: left;
}

#office{
    float: left;
    width: 100%;
    color: #fff;
    padding-top: 109px;
}


    
}


@media screen and (min-width: 577px) and (max-width: 768px){
    .wrap{
        width: 540px;
    }
    
    #topHeader{
        height: 120px;
    }
    
    #mySidenav{
        display: block;
    }

    .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -50px;
    font-size: 36px;
    margin-left: 50px;
}

    
    #topInfo{
    line-height: 40px;
    float: left;
    color: #fff;
    
}

    #topInfo .fa-phone{
        width: 50%;
    }
    
    #topInfo .fa-envelope{
        width: 50%;
    }
    
#topInfo .fa-clock{
    margin: 0 ;
    width: 50%;
}

.topI{
    margin-left: 20px;
}

#social{
    float: right;
    line-height: 40px;
    color: #fff;
    margin-top: -120px;
}
    
    .fa-facebook-square{
        float: left;
        margin-top: 12px;
        margin-left: 550px
}

.fa-twitter-square{
    float: left;
    margin-left: 550px;
    margin-top: 22px;
}
    
    .fa-linkedin{
        margin-left: 550px;
        margin-top: 23px;
    }
    
      .closebtn{
    display: block;
    text-decoration: none;
}

    #burger{
        display: block;
        float: right;
        margin-top: 40px
    }

#nav{
    float: right; 
}
    
    #nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
        opacity: 0.9;
}
    
    #nav ul li {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-left: 30px;
}
    
    #nav .closebtn {
    position: absolute;
    top: 0;
    font-size: 45px;
    margin-left: 30px;
    color: #fff;
}

#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


#nav ul li a{
    display: block;
    width: 250px;
    height: 80px;
    padding: 0;
    text-decoration: none;
    color: #fff;;
    font-weight: bolder;
    position: relative;
    text-align: left;
}

#nav ul li:nth-child(2n){
    margin-left: 0;
}

      section{
    height: 1200px;
}

#info{
    width: 100%;
    margin-right: 0;
}


#infoList{
    margin-top: 90px;
}
    
    .fa-arrow-alt-circle-right{
    margin: 0 10px 0 0;
    color: #C69453;
}

.contact-form{
    float: left;
    width:100% ;
}


.form-control{
    width: 80%;
}
    
     #service{
    height: 900px;
}

.panel{
    float: left;
    width: 240px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 0;
}
.panel2{
    float: left;
    width: 240px;
    height: 350px;
    background-color: #fff;
    margin: 0 0 30px 60px;
    border-radius: 10px;
}
.panel4{
    float: left;
    width: 240px;
    height: 350px;
    background-color: #fff;
    margin-left: 60px;
    border-radius: 10px;
}


#workNav ul li:nth-child(2n){
    margin: 0 10px;
}

    .fifth{
        margin-top: 20px;
    }

    
    #us{
    clear: both;
    position: relative;
    height: 800px;
}

#usPic img{
    width: 100%;
    margin-top: 50px;
}

#content{
    width: 100%;
    float: left;
    margin-top: 70px;
    border: 2px solid rgba(0,0,0,0.3);
    cursor: pointer;
}

.beefup__head{
    position: relative;
    background-color: ;
    height: 60px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    text-align: center;
    line-height: 60px;
}


#contentText{
    position: relative;
}

#contentText h1{
    width: 330px;
    position: absolute;
}

#contentText::after{
    content: '';
    position: absolute;
    bottom: -64px;
    left: 0px;
    right: 0;
}

#contentText::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -65px;
}

#stat{
    height: 400px;
}

    
    .num{
    margin: 69px 83px;
}

 #news{
    height: 1300px;
    background-color: rgba(198,148,83,0.11);
}
    
    #newsText{
    width: 540px;
    position: absolute;
}

#news1{
    width: 100%;
    float: left;
    margin-top: 120px;
}

#news1 p, #news2 p, #news3 p{
    margin-bottom: 40px;
}

#news2{
    width: 100%;
    float: right;
    margin-top: 120px;
    margin: 120px 0px 0 0;
}

#news3{
    width: 100%;
    float: left;
    margin-top: 120px;
}


#footerT{
    height: 800px;
}

#about{
    color: #fff;
    width: 100%;
    padding-top: 109px;
    float: left;
}

#office{
    float: left;
    width: 100%;
    color: #fff;
    padding-top: 109px;
}

    
}

@media screen and (max-width: 576px){
    .wrap{
        width: 80%;
    }
    
     #topHeader{
        height: 180px;
    }
    
    #mySidenav{
        display: block;
    }

    .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -50px;
    font-size: 36px;
    margin-left: 50px;
}

    
    #logo{
        width: 100%;
        text-align: center;
    }
    
    #topInfo{
    line-height: 40px;
    float: left;
    color: #fff;
    
}

    #topInfo .fa-phone{
        width: 100%;
    }
    
    #topInfo .fa-envelope{
        width: 100%;
    }
    
#topInfo .fa-clock{
    margin: 0 ;
    width: 100%;
}

.topI{
    margin-left: 20px;
}

#social{
    float: left;
    line-height: 40px;
    color: #fff;
    margin-top: -120px;
}
    
    .fa-facebook-square{
        float: left;
        margin-top: 140px;
        margin-left: 0px
}

.fa-twitter-square{
    float: left;
    margin-left: 50px;
    margin-right: 0;
    margin-top: 140px;
}
    
    .fa-linkedin{
        margin-left: 50px;
        margin-top: 140px;
    }
    
    header{
        height: 190px;
    }
    
    #logo{
    width: 100%;
}

#logo img{
    margin-top: 37px;
}

    
      .closebtn{
    display: block;
    text-decoration: none;
}

    #burger{
        display: block;
        float: left;
        margin-top: 40px
    }

#nav{
    float: right; 
}
    
    #nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
        opacity: 0.9;
}
    
    #nav ul li {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-left: 30px;
}
    
    #nav .closebtn {
    position: absolute;
    top: 0;
    font-size: 45px;
    margin-left: 30px;
    color: #fff;
}

#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


#nav ul li a{
    display: block;
    width: 250px;
    height: 80px;
    padding: 0;
    text-decoration: none;
    color: #fff;;
    font-weight: bolder;
    position: relative;
    text-align: left;
}

#nav ul li:nth-child(2n){
    margin-left: 0;
}

      section{
    height: 1200px;
}

#info{
    width: 100%;
    margin-right: 0;
}


#infoList{
    margin-top: 90px;
}
    
    .contact-form{
    float: left;
    width:100% ;
    height: 500px;
    background-image: url(img/woodb.jpg);
    margin-top: 40px;
    margin-bottom: 50px;
}

form{
    margin-top: 80px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    margin-left: 0;
    
}


form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 50px;
    width: 100%;
}

    ::placeholder{
        text-align: center;
    }
    
    .fa-arrow-alt-circle-right{
    margin: 0 10px 0 0;
    color: #C69453;
}

.contact-form{
    width:100% ;
}


.form-control{
    width: 100%;
}
    
     #service{
    height: 1650px;
}

.panel{
    width: 100%;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom:20px;
}
.panel2{
    width: 100%;
    height: 350px;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    border-radius: 10px;
}
.panel4{
     width: 100%;
    height: 350px;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
}
    
    #ourWork{
        height: 400px;
    }


    #workNav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#workNav ul li{
    text-align: center;
    float: left;
    width: 100%;
}

#workNav ul li button{
    display: block;
    height: 40px;
    padding: 0 30px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    border: 2px solid #C69453;
    position: relative;
    background-color: #594431;
    margin-bottom: 20px
}

#workNav ul li button:hover{
   background-color: #C69453;
    transition: 1s all ease;
    cursor: pointer;
}


#workNav ul li:nth-child(2n){
    margin: 0 0px;
}

    .fifth{
        margin-top: 0px;
    }

    
    #us{
    clear: both;
    position: relative;
    height: 600px;
}

#usPic img{
    width: 100%;
    margin-top: 80px;
}

#content{
    width: 100%;
    float: left;
    margin-top: 70px;
    border: 2px solid rgba(0,0,0,0.3);
    cursor: pointer;
}

.beefup__head{
    position: relative;
    background-color: ;
    height: 60px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    text-align: center;
    line-height: 60px;
}


#contentText{
    position: relative;
}

#contentText h1{
    width: 100%;
    position: absolute;
}

#contentText::after{
    content: '';
    position: absolute;
    bottom: -94px;
    left: 0px;
    right: 0;
    margin-top: 50px;
}

#contentText::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -95px;
     margin-top: 50px;

}

#stat{
    height: 700px;
}

    
    .num{
        float: left;
        width: 100%;
        margin: 50px auto;
        text-align: center;
    
}

 #news{
    height: 1400px;
    background-color: rgba(198,148,83,0.11);
}
    
    #newsText{
    width: 80%;
    position: absolute;
}
    
    .news img{
        width: 80%;
    }

#news1{
    width: 100%;
    float: left;
    margin-top: 140px;
}

#news1 p, #news2 p, #news3 p{
    margin-bottom: 40px;
}

#news2{
    width: 100%;
    float: right;
    margin-top: 120px;
    margin: 120px 0px 0 0;
}

#news3{
    width: 100%;
    float: left;
    margin-top: 120px;
}


#footerT{
    height: 1000px;
}

#about{
    color: #fff;
    width: 100%;
    padding-top: 109px;
    float: left;
}

#office{
    float: left;
    width: 100%;
    color: #fff;
    padding-top: 109px;
}

    footer{
        height: 80px;
        line-height: 80px;
    }
    
    #footerInfo p{
    font-size: 10px;
}
    
}















